

.product-card{
  background-color: #7fa6f3;
  display: flex;
  width:200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin:20px;
  padding:20px;
}

